.env
*.db
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
routers/__pycache__/

# Media images
portal/battlemaps/*.png
portal/battlemaps/*.jpg
portal/battlemaps/*.webp
portal/monsters/*.png
portal/monsters/*.jpg
portal/monsters/*.webp
portal/portraits/*.png
portal/portraits/*.jpg
portal/portraits/*.webp
audio_debug.log
